.full_page_sky{
  background-image: url('../image/skyBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.login_center_box_kick{
  background: rgba(0,0,0,.85);
  top: 50%;
  left: 50%;
  margin-top: -25em;
  margin-left: -30em;
  width: 60em;
  height: 50em;
}

.testing{
  left: 50%;
  margin-left: -425px;
  margin-top: 2.5em;
}

.center{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.input_boxes{
  width: 20em;
  height: 2.5em;
  display: inline-block;
  orientation: center;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
}

.label{
  color: white;
  display: inline-block;
}

.center_bottom{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5em;
}

.Link{
  color: white;
}

.container {
  font-size: 1em;
  font-family: sans-serif;
/*   text-align: center; */
  max-width: 70%;
  border-collapse: collapse;
  margin: 1em auto;
}

select, input, 
.select {
  border-collapse: collapse;
  padding: 0;
  width: 12em;
}

.special_box{
  border: 1px solid black;
}